@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ecf0f1;
}

.content{
  background-color: #fff;
  border-radius: 15px; 
  width: 80%;
  height: 50%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.content::before {
  content: "";
  position: absolute;
  background-color: #5f67d8;
  width: 40%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  left: 60%;
}

.title{
  font-size: 28px;
  font-weight:bold;
  text-transform: capitalize;
}

.title-primary{
 color: #fff;
}

.title-second{
  color: #5f67d8
}

.description{
  font-size: 14px;
  font-weight: 300;
 line-height: 25px;
}

.description-primary{
  color: #fff;
}

.description-second{
  color: #7f8c8d;
}

.btn {
  border-radius: 15px;
  text-transform: uppercase;
  color: #fff;
  font-size: 10px;
  padding: 10px 50px;
  cursor: pointer;
  font-weight: bold;
  width: 150px;
  align-self: center;
  border: none;
  margin-top: 1rem;
}

.btn-primary{
background-color: transparent;
border: 1px solid #fff;
}

.btn-primary:hover {
  background-color: #fff;
  color: #5f67d8;
}

.btn-second {
  background-color: #5f67d8;
  border: 1px solid #5f67d8;
  transition: background-color .5s;
}
.btn-second:hover {
  background-color: #fff;
  border: 1px solid #5f67d8;
  color: #5f67d8;
}

.first-content{
  display: flex;
  display: none;
}

.first-column{
  text-align: center;
  flex: 1 0 auto;
  z-index: 10;
}

.second-column{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media {
  margin: 1rem 0;
}
.link-social-media:not(:first-child){
  margin-left: 10px;
}
.link-social-media .item-social-media {
  transition: background-color .5s;
}
.link-social-media:hover .item-social-media{
  background-color: #5f67d8;
  color: #fff;
  border-color: #5f67d8;
}

.list-social-media{
  display: flex;
  list-style-type: none;
}

.item-social-media{
  border: 1px solid #bdc3c7;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #95a5a6;
  }

.item-social-media a{
  color: #95a5a6;
}

.form{
  display: flex;
  flex-direction: column;
  width: 48%;
}

.form input{
  height: 35px;
  border: none;
  background-color: #ecf0f1;
  margin: 3px;
}

.label-input {
  background-color: #ecf0f1;
  border: 1px solid #b8babb;
  border-radius: 35px;
  display: flex;
  align-items: center;
  margin: 5px;
}

.icon-modify {
  color: #7f8c8d;
  padding: 5px 5px 5px 5px;
}

.second-content{
  position: absolute;
  display: flex;
}

.second-content .first-column {
  order: 2;

}
.second-content .second-column {
  order: 1;
}

.password {
  color: #34495e;
  font-size: 14px;
  margin: 15px 0;
  text-align: center;
}
.password::first-letter {
  text-transform: capitalize;
}
 