@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ecf0f1;
}

.content{
  background-color: #fff;
  border-radius: 15px; 
  width: 80%;
  height: 50%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.content::before {
  content: "";
  position: absolute;
  background-color: #5f67d8;
  width: 40%;
  height: 100%;
}

.title{
  font-size: 28px;
  font-weight:bold;  
}

.title-primary{
 color: #fff;
}

.description{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  line-height: 25px;
}

.btn{
  border-radius: 85px;
  text-transform: uppercase;
  color: #fff;
  font-size: 10px;
  margin: 10px;
  padding: 10px 50px;
  cursor: pointer;
  font-weight: bold;
}

.btn-primary{
background-color: transparent;
border: 1px solid #fff;
}

.btn-primary:hover {
  background-color: #fff;
  color: #5f67d8;
}

.first-content{
  display: flex;
}

.first-column{
  text-align: center;
  flex: 1 0 auto;
  z-index: 10;
}

.second-column{
  flex: 2 0 auto;
}

.list-social-media{
  display: flex;
}

.form{
  display: flex;
  flex-direction: column;
}

.second-content{
  position: absolute;
  display: none;
}